
@{
    ViewData["Title"] = "delete";
}

<h1>Vehicle was successfully deleted</h1>

<a class = 'returnBttn' asp-controller="myCars" asp-action="Index"> Go to myCars</a>

<style>
    .returnBttn {
        padding: .5rem 1rem;
        font-size: 1.5625rem;
        line-height: 1.5;
        border-radius: .3rem;
        background-color: blanchedalmond;
    }
</style>


